@media screen and (min-width: 550px) {
    .easyhives__firstSection {
        margin-left: 3rem;
        margin-right: 3rem;
        display: flex;
        flex-direction: row;
    }

    .easyhives__firstSection-content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .easyhives__firstSection-input button {
        display: none;
    }

    .easyhives__firstSection-descr-mobile {
        display: none;
    }

    .easyhives__firstSection-descr {
        margin-right: 2rem;
    }

    .easyhives__firstSection-descr h2 {
        font-weight: 700;
        font-size: 40px;
    }

    .easyhives__firstSection-screen img {
        width: 340px;
        height: 650px;
    }
}

@media screen and (max-width: 550px) {
    .easyhives__firstSection {
        display: flex;
        flex-direction: row;
    }

    .easyhives__firstSection-content {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .easyhives__firstSection-descr {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .easyhives__firstSection-descr h2 {
        font-weight: 700;
        font-size: 32px;
    }

    .easyhives__firstSection-screen img {
        width: 320px;
        height: 550px;
    }
}

.easyhives__firstSection-descr {
    margin-left: 1rem;
    max-width: min-content;
}

.easyhives__firstSection-descr button,
.easyhives__firstSection-input button {
    background: linear-gradient(180deg, #F5C81A 0%, #F5AB1A 100%);
    border-radius: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    border: none;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    margin: 1rem;
}