@media screen and (max-width: 550px) {
    .easyHives__modal-content-header h1 {
        font-size: 36px;
    }

    .easyHives__modal-content-header p {
        font-size: 15px;
    }
}

@media screen and (min-width: 550px) {
    .easyHives__modal-content-header h1 {
        font-size: 36px;
    }
}

.easyHives__modal {
    position: fixed;
    top: 10%;
    left: 15%;
    right: 15%;
    background: #FFFFFF;
    border: 1.21739px solid #F5C81A;
    box-shadow: 0px 6.08696px 24.3478px rgba(0, 0, 0, 0.4);
    border-radius: 18.2609px;
}

.easyHives__modal-content-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.easyHives__modal-content-header h1 {
    margin: 1rem 1rem 2rem 1rem;
}

.easyHives__modal-content-header p {
    margin: 0 1rem 1.5rem 1rem;
    max-width: 190px;
    text-align: center;
}

.easyHives__modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.easyHives__modal-content-body img{
    width: 140px;
    height: 140px;
}

.easyHives__modal-content-footer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.easyHives__modal-content-footer button {
    background: linear-gradient(180deg, #F5C81A 0%, #F5AB1A 100%);
    border-radius: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    border: none;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
    margin: 1rem;
}