.easyhives__bg {
  background-color: #EFBE01;
}

.navbar__border {
  border-radius: 0 0 1rem 1rem;
}

.footer__border {
  border-radius: 1rem 1rem 0 0;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}