.easyhives__bg {
  background-color: #EFBE01;
}

.navbar__border {
  border-radius: 0 0 1rem 1rem;
}

.footer__border {
  border-radius: 1rem 1rem 0 0;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}

@font-face {
  font-family: "RecoletaMedium";
  src: url("./assets/font/Recoleta-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RecoletaBold";
  src: url("./assets/font/Recoleta-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "InterMedium";
  src: url("./assets/font/Inter-Medium.ttf") format("truetype");
}

.font-Recoleta {
  font-family: "RecoletaMedium";
}

.font-Recoleta-Bold {
  font-family: "RecoletaBold";
}

.font-Inter {
  font-family: 'InterMedium';
}

.App {
  background-color: #F8F8F8;
}